<style>
    #SpaceshipView
    {        
        background-color: aliceblue;
    }

    .myGrid 
    {
        margin: 5px;
    }
</style>


<div id="SpaceshipView" class="container-fluid h-100">
    Spaceship View
    
    <form>
        <div class="form-group">
          <label for="TbBrand">Brand</label>
          <input type="text" class="form-control" id="TbBrand" aria-describedby="textHelp" placeholder="Enter Brand" ng-model="vm.Brand">
          <small id="textHelp" class="form-text text-muted">Put the brand of the ship.</small>
        </div>

        <div class="form-group">
            <label for="TbPassword">Brand</label>
            <input type="password" class="form-control" id="TbPassword" aria-describedby="textPassword" placeholder="Enter Password" ng-model="vm.Password">
            <small id="textPassword" class="form-text text-muted">We will not store the plain password but hashed.</small>
          </div>

        <button class="btn btn-primary" ng-click="vm.Add()">Add</button>
      </form>

    <div ui-grid="vm.GridOptions" class="myGrid h-100"></div>
</div>